@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


#contact {
  overflow: auto;
  margin-top: 20px;
}
#contact #form {
  width: 410px;
  float: left;
  color: #fff;
}
#contact #form h2 {
  font: 48px "Bree Serif", Georgia, serif;

}
#contact #form span {
  display: block;
  float: left;
  width: 100px;
  padding-top: 5px;
  font: 14px/16px "Bree Serif", Georgia, serif;
}
#contact #form input {
  float: left;
  width: 255px;
  border: 0px;
  color: #fff;
  padding: 10px 10px 10px 30px;
  font: 11px/20px "Open Sans", Verdana, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
#contact #form textarea {
  float: left;
  border: 0px;
  width: 255px;
  height: 140px;
  padding: 10px 10px 10px 30px;
  font: 11px/20px "Open Sans", Verdana, Helvetica, sans-serif;
  color: #222222;
  resize: none;
}
#contact #form input.name {
  background: #222222
    url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png)
    no-repeat 10px 8px;
}
#contact #form input.email {
  background: #222222
    url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png)
    no-repeat 10px 9px;
}

#contact #form textarea.message {
  background: #222222
    no-repeat 10px 8px;
}
#contact #form input.submit {
  cursor: pointer;
  width: 85px;
  height: 30px;
  float: right;
  padding: 0px 0px 5px 0px;
  margin: 10px 16px 0px 0px;
  background: #222222;
  color: #fff;
  font: 14px/16px "Bree Serif", Georgia, serif;
}

#contact #form textarea.message {
  background: #222222
    no-repeat 10px 8px;
}
#contact #form input.submit {
  cursor: pointer;
  width: 85px;
  height: 30px;
  float: right;
  padding: 0px 0px 5px 0px;
  margin: 10px 16px 0px 0px;
  background: #222222;
  color: #fff;
  font: 14px/16px "Bree Serif", Georgia, serif;
}

