@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    top: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/fondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.video-section h2 {
    font-size: 48px;
    color: #fff;
    user-select: none;
    margin-right: 50px;
    background: transparent;
    backdrop-filter: blur(20px);
    width: 700px;
    margin-top: 100px;
}
  
.central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centrará el contenido verticalmente en la página */
    width: 100vh;
}
  
.central h1 {
    font-family: 'arial', sans-serif; /* Reemplaza 'nombre-de-tu-fuente-redondeada' con el nombre de la fuente redondeada que desees */
    text-align: center; /* Centra el texto horizontalmente en el contenedor */
    font-size: 2em; /* Tamaño de fuente deseado */
    color: #333; /* Color de texto deseado */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header img {
    width: 150px;
    height: 150px;
}


.logo-container {
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
    margin-left: 15px;
    background: transparent;
    backdrop-filter: blur(20px);
}

/* Estilos para el menú (derecha) */
.navigation {
    display: flex;
    align-items: top;
    
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px; /* Espacio entre elementos del menú */
}

.navigation a::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 20px; /* Espacio entre el último elemento del menú y el botón de inicio de sesión */
    transition: 0.5s;
}

.navigation .btnLogin-popup :hover {
    background: #fff;
    color: #162938;
}

.wrapper {
    position: fixed;
    width: 400px;
    height: 620px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    margin-top: 100px;
    margin-left: 730px;
    z-index: 999;

}

.wrapper.active-popup{
    transform: scale(1);
    top: 100px;
    height: 620px;
    z-index: 999;
}

.wrapper .active {
    height: 620px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;

}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);

}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(620px);

}

.wrapper .form-box.register{ /*css para el apartado de registro*/
    position: absolute;
    transition: none;
    transform: translateX(620px);


}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
    margin-top: -20px;

}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center; 
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none ;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 95%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;

}

.remember-forgot{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15 px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;

}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}